<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>User List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th><button (click)="creatNewItem()" class="btn btn-danger">Add New</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items | async" >
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        <button (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button>
                        <button (click)="itemDetails(item.id)" class="btn btn-info" style="margin-left: 10px;">Detais</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
