<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="items" class="nav-link" routerLinkActive="active">Item List</a>
    </li>
    <li class="nav-item">
      <a routerLink="users" class="nav-link" routerLinkActive="active">User List</a>
    </li>
    <li class="nav-item">
      <a routerLink="carts" class="nav-link" routerLinkActive="active">Cart List</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2019 @JavaGuides</span>
  </div>
</footer>