<h3>Update Item</h3>
<div [hidden]="saved" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="item.name" name="name">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" required [(ngModel)]="item.price" name="price">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>