<h3>Create Cart</h3>
<div [hidden]="saved" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="cart.name" name="name">
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" id="owner" required [(ngModel)]="cart.owner" name="owner">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
<div [hidden]="!saved">
    <h4>Saved successfully!</h4>
    <button class="btn btn-success" (click)="newItem()">Add new</button>
</div>