<h2>Item Details</h2> 

<hr/>
<div *ngIf="item">
  <div>
    <label><b>Name: </b></label> {{item.name}}
  </div>
  <div>
    <label><b>Price: </b></label> {{item.price}}
  </div>
</div>

<br>
<br>
<button (click)="navigateToList()" class="btn btn-primary">Back to Item List</button><br>