<h3>Update User</h3>
<div [hidden]="saved" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="item.name" name="name">
    </div>
    <div class="form-group">
      <label for="price">Email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="item.email" name="email">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>