<h2>Cart Details</h2> 

<hr/>
<div *ngIf="item">
  <div>
    <label><b>Name: </b></label> {{item.name}}
  </div>
  <div>
    <label><b>Owner: </b></label> {{item.owner}}
  </div>
</div>

<br>
<br>
<button (click)="navigateToList()" class="btn btn-primary">Back to Cart List</button><br>