<h2>User Details</h2> 

<hr/>
<div *ngIf="user">
  <div>
    <label><b>Name: </b></label> {{item.name}}
  </div>
  <div>
    <label><b>Email: </b></label> {{item.email}}
  </div>
</div>

<br>
<br>
<button (click)="navigateToList()" class="btn btn-primary">Back to User List</button><br>